<div class="container">
    <div class="content-footer">
        <div class="row align-items-center">
            <div class="col-12">
                 <img class="img-fluid logo-footer" src="../../images/logo-cedclean.svg">
                <p class="mb-0 mt-2 text-center">© cedClean - {{"now"|date('Y')}} - Tous droits réservés. - <a class="color-blue-secondary" href="{{site.link}}/mentions-legales">Mentions Légales</a></p>
            </div>
        </div>
        {# <div id="scroll-to-top">
            <a href="#hero" class="btn-to-top" data-scroll-to>
                <i class="fas fa-chevron-up"></i>
            </a>
        </div> #}
    </div>
</div>