<div class="container">
    <div class="content-footer">
        <div class="row align-items-center">
            <div class="col-12">
                 <img class="img-fluid logo-footer" src="../../images/logo-cedclean.svg">
                 <div class="inner-footer">
                    <p class="mb-0 mt-2 text-center">© cedClean - {{"now"|date('Y')}} - Tous droits réservés. - <a class="color-blue-secondary" href="{{site.link}}/mentions-legales">Mentions Légales</a></p>
                    <div class="wrap-social">
                        <a href="https://www.facebook.com/cedclean/" target="_blank" class="link-social"><i class="icon-social" data-lucide="facebook"></i></a>
                        <a href="https://www.instagram.com/ced_clean/" target="_blank" class="link-social"><i class="icon-social" data-lucide="instagram"></i></a>
                    </div>   
                 </div>
            </div>
        </div>
        {# <div id="scroll-to-top">
            <a href="#hero" class="btn-to-top" data-scroll-to>
                <i class="fas fa-chevron-up"></i>
            </a>
        </div> #}
    </div>
</div>