{% extends "base.twig" %}

{% block content %}  
<div class="page-container">
    <div id="hero" class="hero hero-home" data-scroll-section>
       {% include "home/hero.twig" %}
    </div>
    <div id="card-hero" class="bg-grey-light padding-b-6 padding-t-6" data-scroll-section>
        {% include "home/part/card-hero.twig" %}
    </div>
    <section class="section about" data-scroll-section>
        {% include "home/part/about.twig" %}
    </section>
    <section class="section video" data-scroll-section>
        {% include "home/part/video.twig" %}
    </section>
    <section class="section services bg-grey-light" data-scroll-section>
        {% include "home/part/services.twig" %}
    </section>
    <section class="section insta-feed" data-scroll-section>
        {% include "home/part/insta-feed.twig" %}
    </section>
    <section class="perimeters overflow-hidden" data-scroll-section>
        {% include "home/part/perimeters.twig" %}
    </section>
    <section class="section eco" data-scroll-section>
        {% include "home/part/eco.twig" %}
    </section>
    <section class="section bg-purple devis" data-scroll-section>
        {% include "home/part/devis.twig" %}
    </section>
    {# <section class="section cta" data-scroll-section>
        {% include "home/part/cta.twig" %}
    </section> #}
</div>
{% endblock %}