{% extends "base.twig" %}

{% block content %}
<div class="page-contact">
    <div class="header-page">
        <div class="header-content">
        <div class="header-img" style="background-image: url('{{ post.thumbnail.src }}')"></div>
            <div class="header-title">
                <div class="container">
                    <div class="row">
                        <div class="inner-title">
                            <h1 class="title-page">{{post.title}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-devis">
            <div class="row">
                    <div class="col-lg-6 block-img">
                        <div class="inner-img" style="background-image: url('{{ post.thumbnail.src }}')"></div>
                    </div>
                <div class="col-lg-6">
                    <div class="content-form">
                        {{post.paged_content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}