{% extends "base.twig" %}

{% block content %}
<div id="hero" class="page-container">
    <div class="header-page" data-scroll-section>
        <div class="header-content">
        <div class="header-img" style="background-image: url('{{ post.thumbnail.src }}')"></div>
            <div class="header-title">
                <div class="container">
                    <div class="row">
                        <div class="inner-title">
                            <h1 class="title-page">{{post.title}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section" data-scroll-section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                {{post.paged_content}}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}