{% extends "base.twig" %}

{% block content %}
<div class="page-container">
    <div id="hero" class="header-page" data-scroll-section>
        <div class="header-content">
        <div class="header-img" style="background-image: url('{{ post.thumbnail.src }}')" data-scroll data-scroll-speed="-1" data-scroll-position="top" data-scroll-target="#hero"></div>
            <div class="header-title" data-scroll data-scroll-speed="-1" data-scroll-position="top">
                <div class="container">
                    <div class="row">
                        <div class="inner-title">
                            <h1 class="title-page" data-splitting>{{post.title}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" data-scroll-section>
        <div class="form-devis">
            <div class="row">
                    <div class="col-lg-6 block-img">
                        <div class="inner-img" style="background-image: url('{{ post.thumbnail.src }}')"></div>
                    </div>
                <div class="col-lg-6">
                    <div class="content-form">
                        {{post.paged_content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}