.footer {
  font-size: 0.8125rem;
  //padding-bottom: 5.75rem;
  .content-footer {
    border-top: 1px solid $grey_light;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    .inner-footer {
      display: flex;
      justify-content: center;
      .wrap-social {
        display: flex;
        position: absolute;
        right: 0;
        .lucide-facebook {
          stroke: none;
          fill: $primary;
        }
        .icon-social {
          color: $primary;
        }
        .link-social {
          &:not(:last-child) {
            padding-right: 0.5rem;
          }
          &:hover {
            .lucide-facebook {
              fill: $primary_dark;
            }
            .icon-social {
              color: $primary_dark;
            }
          }
        }
      }
    }
  }
  .logo-footer {
    height: 45px;
    margin: 0 auto;
    display: block;
  }
}

@include maxwidth(sm) {
  .footer {
    .content-footer {
      .inner-footer {
        flex-direction: column;
        p {
          display: flex;
          flex-direction: column;
        }
        .wrap-social {
          position: relative;
          justify-content: center;
          margin-top: 1rem;
        }
      }
    }
  }
}
