<div class="container">
    <div class="row">
        <div class="col-lg-4">
        <div class="inner-block" data-scroll data-scroll-speed="-1">
            <h2 class="title-small">{{ post_about.meta('title_about') }}</h2>
            <h3 class="title-big fw-bold mb-5">{{ post_about.meta('subtitle_about') }}</h3>
            <p>{{ post_about.meta('txt_about') }}</p>
        </div>
        </div>
        <div class="col-lg-8">
        <div class="img-inner">
           <img src="{{post_about.meta('img_about')}}" alt="cedclean votre confort notre priorité" class="img-fluid img-cover" data-scroll data-scroll-speed="1" data-scroll-position="top">
        </div>
        </div>
    </div>
</div>