<div class="wrap-bg-img">
<div class="bg-img" style="background-image: url('/wp-content/themes/cedclean/dist/images/visu-canape.9d3fb9c8.jpg')">
    {# <img src="../../../images/visu-canape.jpg" alt="" class="img-cover"> #}
        <div class="container position-relative z-index-1">
        <div class="row">
            <div class="col-12 text-center text-white">
                    <h2>Votre confort, notre priorité</h2>
                    <p>Devis sur photos</p>
                    <a class="btn btn-round btn-md btn-secondary" href="{{site.link}}/contact">Contactez-nous</a>
            </div>
        </div>
    </div>
</div>
</div>