<div class="container">
    <div class="row">
        <div class="wrap-img-devis">
            <img src="../../../images/devis-photos.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 offset-lg-6">
            <div class="wrap-text-devis text-white">
                <h2>{{post_img_devis.meta('title_devis')}}</h2>
                <p>{{post_img_devis.meta('txt_devis')}}</p>
                <a class="btn btn-round btn-sm btn-secondary" href="{{site.link}}/demande-de-devis">Demandez un devis</a>
            </div>
        </div>
    </div>
</div>