<div class="container">
    <div class="row">
        <div class="wrap-img-devis">
            <img src="../../../images/devis-photos.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 offset-lg-6">
            <div class="wrap-text-devis text-white">
                <h2>Devis gratuit</h2>
                <p>Remplissez le formulaire ci-dessous et nous vous recontacterons dans les plus brefs délais.</p>
                <a class="btn btn-round btn-sm btn-secondary" href="{{site.link}}/demande-de-devis">Demandez un devis</a>
            </div>
        </div>
    </div>
</div>