<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{post_eco.meta('img_eco')}}" alt="eco" class="img-fluid">
        </div>
        <div class="col-lg-4 offset-lg-1">
            <h2 class="title-big fw-bold mb-5">{{post_eco.meta('title_eco')}}</h2>
            <p>{{post_eco.meta('txt_eco')}}</p>
            <p>{{post_eco.meta('txt_bis_eco')}}</p>
        </div>
    </div>
</div>