<div class="container">
    <div class="row">
        <div class="col-12">
            {# {% apply shortcodes %}
                [instagram feed="78"]
            {% endapply %} #}
            {{ post_insta.meta('shortcode_insta') }}
            {{ forminator_form.meta('form_contact')}}
        </div>
    </div>
</div>