<div class="container">
    <div class="inner-map">
        <div class="wrap-map">
            <img class="img-map" src="../../../images/map.svg" alt="">
            <div class="dot"></div>
        </div>
    </div>
</div>